[x-cloak] { display: none !important; }

#actions_wrapper {
    display: flex;
}
#operations_table,
#mappings_table {
    display: flex;
}
.char-cell {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-right-width: 0px;
    text-align: center;
    cursor: pointer;
    width: 60px;
}
.char-cell:last-child {
    border-right-width: 2px;
}
.char-decimal {
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}
.char-symbol {
    border-bottom: 1px solid black;
    font-size: 3rem;
}
.char-mapped-value {
    font-size: 1.2rem;
}
.char-decimal:hover,
.char-symbol:hover,
.char-mapped-value:hover {
    background: #ddd;
}